h1{
    background-color: red;
    font-size: 80px;
}
h5{
    font-style: italic;
    font-display: bold;
    font-style: bold;
}
.footer-copyright{
    background-color: hotpink;
color: red;
}
p{
    font-style: italic;
    font-style: bold;
    color: orangered;
}